<div class="container">
  <h1 class="signup_title">Sign Up</h1>
  <form action="/signup" method="post" class="signup_form">
    <div class="row">
      <ul class="col-md-12">
        <li class="col-md-12"><input name="email" type="email" placeholder="Email"></li>
        <li class="col-md-12"><input name="password" type="password" placeholder="Password"></li>
        <li class="col-md-12"><input name="password_confirmation" type="password" placeholder="Password Confirmation"></li>
      </ul>
    </div>
    <button class="btn btn-success btn-sm">Sign Up</button>
  </form>
</div>
