<h1>Users#index</h1>
<% if current_user %>
  <ul>
    <% @members.each do | member | %>
    <li><%= member.email %> - <%= member.password_digest %></li>
    <% end %>
  </ul>
  <form action="/logout" method="post">
    <input name="_method" value="DELETE" type="hidden">
    <button>Delete</button>
  </form>
<% else %>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
<% end %>

