<div class="container">

    <div class="row">
      <header "col-md-12">
        <h1 id="header_title" class="muted">FamJam</h1>
        <p id="byline" class="muted">Family organization, made easy.</p>
      </header><!-- /header -->
    </div>

    <div class="row">

      <div class="user col-md-3 col-lg-3">
        <h2>*member.username</h2>
        <img id="user_image" src="https://www.fillmurray.com/150/150" alt="Picture of Bill Murray">
        <ul>
          <li class="btn btn-success btn-sm"><a href="#">Family Tasks</a></li>
          <li class="btn btn-success btn-sm"><a href="#">My Tasks</a></li>
          <li class="btn btn-success btn-sm"><a href="#">Settings</a></li>
        </ul>
      </div>

      <div class="task col-md-5 col-lg-5" id="tasks">
        <form action="" method="get">
          <h2>Task list</h2>
          <button type="submit" name="task" value="" id="submit_btn" class="btn btn-success btn-sm">Add Task</button>
          <ul>
            <li><input name="task" value="here is input 1" class="task_input" id="input_1"></li>
            <li><input name="task" value="here is input 2" class="task_input" id="input_2"></li>
            <li><input name="task" value="here is input 3" class="task_input" id="input_3"></li>
            <li><input name="task" value="here is input 4" class="task_input" id="input_4"></li>
            <li><input name="task" value="here is input 5" class="task_input" id="input_5"></li>
          </ul>
        </form>

      </div>

      <div class="task_detail col-md-4 col-lg-4">
        <h2>Tasks</h2>
        <h3 id="task_title">*tasks.task</h3>
        <textarea>tasks.description</textarea>
      </div>

    </div>

  </div>
