// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

h1.signup_title {
  font-size: 5em;
}

form.signup_form {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  margin: 20px auto;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid lime;
  min-width: 30%;
  height: 40px;
}

input::-webkit-input-placeholder {
  color: white;
}
