body {
  background-color: #2980b9;
}

/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #eee;
}

body {
  background-color: #2980b9;
}*/


/********************
Header
********************/

/*#header_title {
  font-size: 5em;
  margin-top: 0;
  display: inline-block;
}

#byline {
  display: inline-block;
}*/


/********************
Columns
********************/

/*div {
  height: 100%;
}

h2 {
  font-size: 2.5em;
}*/


/********************
Task column
********************/

/*#tasks h2 {
  display: inline-block;
}

#tasks ul {
  list-style: none;
}

#tasks ul li {
  min-width: 100%;
  border-bottom: 1px solid #eee;
}

.task_input {
  min-width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
}

.task button {
  display: inline-block;
  float: right;
  margin-top: 25px;
}*/


/********************
User column
********************/

/*#user_image {
  display: block;
  margin: 20px auto;
}

.user ul {
  min-width: 100%;
  list-style: none;
  text-align: center;
  margin-top: 30px;
}

.user ul li {
  display: block;
  width: 100px;
  margin: 5px auto;
}

.user a {
  color: #eee;
}


textarea {
  border-radius: 10px;
  min-width:100%;
  height: 150px;
  display: block;
  margin: 0 auto;
  color: black;
  padding: 10px;
  resize: none;
  border: none;
}*/

/********************
Colors
********************/

/*.muted {
  color: #eee
}*/


