// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// index styles

body {
  font-weight: 400;
  box-sizing: border-box;
}

.controls h1,
.new-user h1,
.login h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 12em;
  color: white;
  font-weight: 700;
}

.create-task h1 {
  font-size: 10em
}

.controls li {
  margin: 0;
  display: inline-block;
}

.controls a {
  color: white;
}

.controls a:hover {
  background-color: #5cb85c;
}

@media screen and (max-width: 750px) {
 .controls h1,
 .new-user h1,
 .login h1 {
    font-size: 10em;
  }
}

@media screen and (max-width: 610px) {
 .controls h1,
 .new-user h1,
 .login h1 {
    font-size: 8em;
  }
}

@media screen and (max-width: 500px) {
 .controls h1,
 .new-user h1,
 .login h1 {
    font-size: 5em;
  }
}


// new styles

.new-user form {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.new-user input,
.login input {
  background-color: transparent;
  border: none;
  height: 50px;
  font-size: 1.6em;
  border-bottom: 2px solid #5cb85c;
  color: white;
  font-weight: 300;
  margin: 15px auto;
  text-align: center;
}

.new-user ::-webkit-input-placeholder,
.login ::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.4);
   font-weight: 300
}

.new-user .button-signup {
  margin-top: 20px;
}


// login styles

.login input {
  width: 50%;
}
