// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  font-weight: 400;
}

h1 {
  font-size: 5em;
  color: white;
  margin-bottom: 50px;
  font-weight: 700;
}

a {
  color: white;
  width: 80%;
  height: 50px;
}

.btn {
  font-size: 1.6em;
}

.button-container {
  margin: 10px auto;
}
