// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
}

h1 {
  font-size: 5em;
  color: white;
  margin-bottom: 40px;
}

a {
  color: white;
  width: 30%;
}

.button-container {
  margin: 50px auto;
}
