<div class="controls container">
  <div class="row">
  <div class="row">
    <div class="col-md-12">
      <h1>FamJam!</h1>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-pills">
      <li class="col-md-1"></li>
      <li class="col-xs-12 col-md-5"><a href="/login" class="btn btn-success" role="button">Login</a></li>
      <li class="col-xs-12 col-md-5"><a href="/signup" class="btn btn-success" role="button">Sign up</a></li>
      <li class="col-md-1"></li>
    </ul>
    </div>
  </div>
</div>
