<div class="container new-user">
  <h1>Signup</h1>
  <div class="row">
    <form action="/signup" method="post">
      <div class="row">
        <input class="col-xs-12 col-md-6" name="first_name" type="text" placeholder="Enter your first name">
        <input class="col-xs-12 col-md-6" name="last_name" type="text" placeholder="Enter your last name">
      </div>
      <div class="row">
        <input class="col-xs-12 col-md-6" type="email" name="email" placeholder="Enter your email">
        <input class="col-xs-12 col-md-6" name="username" type="text" placeholder="Choose a username">
      </div>
      <div class="row">
        <input class="col-xs-12 col-md-6" name="password" type="password" placeholder="Enter your password">
        <input class="col-xs-12 col-md-6" name="password_confirmation" type="password" placeholder="Confirm password">
      </div>
      <button type="submit" class="button-signup btn btn-success btn-lg">Sign up</button>
    </form>
  </div>
</div>
